In [1]:
import pandas as pd
import numpy as np

In [2]:
!pwd

/Users/markhyun/Desktop/Resume/Shopify_Data_Analysis

In [5]:
sales = pd.read_csv("/Users/markhyun/Desktop/Resume/Shopify_Data_Analysis/data/orders_export_1-12.csv")

In [6]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7252 entries, 0 to 7251
Data columns (total 68 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         7252 non-null   object
 1   Email                        4566 non-null   object
 2   Financial Status             5220 non-null   object
 3   Paid at                      5200 non-null   object
 4   Fulfillment Status           5220 non-null   object
 5   Fulfilled at                 5106 non-null   object
 6   Accepts Marketing            5220 non-null   object
 7   Currency                     5220 non-null   object
 8   Subtotal                     5220 non-null   float64
 9   Shipping                     5220 non-null   float64
 10  Taxes                        5220 non-null   float64
 11  Total                        5220 non-null   float64
 12  Discount Code                644 non-null    object
 13  Discount Amount              5220 non-null   float64
 14  Shipping Method              5220 non-null   object
 15  Created at                   7252 non-null   object
 16  Lineitem quantity            7252 non-null   int64
 17  Lineitem name                7252 non-null   object
 18  Lineitem price               7252 non-null   float64
 19  Lineitem compare at price    7252 non-null   float64
 20  Lineitem sku                 0 non-null      float64
 21  Lineitem requires shipping   7252 non-null   bool
 22  Lineitem taxable             7252 non-null   bool
 23  Lineitem fulfillment status  7252 non-null   object
 24  Billing Name                 5220 non-null   object
 25  Billing Street               5220 non-null   object
 26  Billing Address1             5220 non-null   object
 27  Billing Address2             676 non-null    object
 28  Billing Company              0 non-null      float64
 29  Billing City                 5220 non-null   object
 30  Billing Zip                  5214 non-null   object
 31  Billing Province             5063 non-null   object
 32  Billing Country              5220 non-null   object
 33  Billing Phone                0 non-null      float64
 34  Shipping Name                5220 non-null   object
 35  Shipping Street              5220 non-null   object
 36  Shipping Address1            5220 non-null   object
 37  Shipping Address2            743 non-null    object
 38  Shipping Company             0 non-null      float64
 39  Shipping City                5220 non-null   object
 40  Shipping Zip                 5214 non-null   object
 41  Shipping Province            5065 non-null   object
 42  Shipping Country             5220 non-null   object
 43  Shipping Phone               0 non-null      float64
 44  Notes                        10 non-null     object
 45  Note Attributes              562 non-null    object
 46  Cancelled at                 0 non-null      float64
 47  Payment Method               5220 non-null   object
 48  Payment Reference            5220 non-null   object
 49  Refunded Amount              5220 non-null   float64
 50  Vendor                       7252 non-null   object
 51  Id                           5220 non-null   float64
 52  Tags                         0 non-null      float64
 53  Risk Level                   5220 non-null   object
 54  Source                       5220 non-null   object
 55  Lineitem discount            7252 non-null   float64
 56  Tax 1 Name                   0 non-null      float64
 57  Tax 1 Value                  0 non-null      float64
 58  Tax 2 Name                   0 non-null      float64
 59  Tax 2 Value                  0 non-null      float64
 60  Tax 3 Name                   0 non-null      float64
 61  Tax 3 Value                  0 non-null      float64
 62  Tax 4 Name                   0 non-null      float64
 63  Tax 4 Value                  0 non-null      float64
 64  Tax 5 Name                   0 non-null      float64
 65  Tax 5 Value                  0 non-null      float64
 66  Phone                        2690 non-null   float64
 67  Receipt Number               0 non-null      float64
dtypes: bool(2), float64(29), int64(1), object(36)
memory usage: 3.7+ MB

In [20]:
#dropping insignificant attributes
sales.drop(sales.iloc[:, 55:67], inplace=True, axis=1)
sales.drop(sales.iloc[:, 24:33], inplace=True, axis=1)
sales.drop(sales.iloc[:, 43:46], inplace=True, axis=1)
sales.drop(sales.iloc[:, 20:23], inplace=True, axis=1)
sales.drop(sales.iloc[:, 4:5], inplace=True, axis=1)

sales.drop([52,53,38,0])
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7252 entries, 0 to 7251
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Name                       7252 non-null   object
 1   Email                      4566 non-null   object
 2   Financial Status           5220 non-null   object
 3   Paid at                    5200 non-null   object
 4   Fulfilled at               5106 non-null   object
 5   Accepts Marketing          5220 non-null   object
 6   Currency                   5220 non-null   object
 7   Subtotal                   5220 non-null   float64
 8   Shipping                   5220 non-null   float64
 9   Taxes                      5220 non-null   float64
 10  Total                      5220 non-null   float64
 11  Discount Code              644 non-null    object
 12  Discount Amount            5220 non-null   float64
 13  Shipping Method            5220 non-null   object
 14  Created at                 7252 non-null   object
 15  Lineitem quantity          7252 non-null   int64
 16  Lineitem name              7252 non-null   object
 17  Lineitem price             7252 non-null   float64
 18  Lineitem compare at price  7252 non-null   float64
dtypes: float64(7), int64(1), object(11)
memory usage: 1.1+ MB